.files-table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.files-table {
    width: 100%;
    max-width: 1000px;
    /* Adjust the max-width as needed */
}

.files-table th,
.files-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.files-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.files-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.files-table tr:hover {
    background-color: #f1f1f1;
}